
<body>
  <div class=top_index_body>
    <h2>ようこそ<strong>Bookers</strong>へ!</h2>
    <p class=line1><strong>Bookers</strong> では、さまざまな書籍に関するあなたの意見や</p>
    <p class=line2>印象を共有し交換することができます</p>
    <p class=top_index_link><%= link_to "start","/books" %></p>
  </div>
</body>
